[submodule "client"]
	path = client
	url = git@github.com:radjikinseptiawan/Portofolio2025_Frontend.git
[submodule "server"]
	path = server
	url = git@github.com:radjikinseptiawan/Portofolio2025_Backend.git
